/*для границ строницы*/

* {
    max-width: 450px;
    margin: 0px auto;
}

* a {
    text-decoration: none;
}

body {
    background-color: #D3D3D3;
    background-attachment: fixed;
    background-size: cover;
}


/**/


/*images*/

.rimg {
    margin: 0;
    height: 20px;
    width: 30px;
}

.iconsoc {
    width: 35px;
    height: 35px;
    border-radius: 50%;
}


/**/

.head {
    text-align: center;
    margin: 10px;
}

#head {
    font-family: 'Marck Script', cursive;
    font-size: 45px;
    color: #007FFF;
    margin: 5px auto;
}

a:active {
    color: #007d50;
}

a {
    color: #00A86B;
}

nav>a {
    font-size: 28px;
    font-family: 'Cookie', cursive;
}

nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -ms-flex-pack: distribute;
    -webkit-box-pack: center;
    justify-content: center;
    max-width: 450px;
}


/*Пошук*/


/*Поиск маркер*/

span.highlight {
    background-color: yellow;
    cursor: pointer;
}

span.splink {
    color: green;
    cursor: pointer;
}


/**/

#search {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin: 0 5px 5px 5px;
    max-width: 200px;
}

#search-icon {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    margin: 15px 0 0 85px;
}

#spresult {
    width: 200px;
}

input {
    border: 3px solid #cfcfcf;
    border-radius: 3px;
    font-size: 14px;
    color: #444444;
    padding: 7px 7px 8px;
    width: 200px;
    display: none;
}

#icon-s {
    padding: 0;
}

button {
    margin: 0 0 0 20px;
    height: 35px;
    width: 35px;
    padding: 0;
}


/**/

.article {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    max-width: 430px;
    margin: 5px 5px;
    background-color: #ffffff;
    padding: 5px;
}

.article_cont_decor {
    margin: 5px 0 5px 0;
}

.img_content {
    display: none;
}

.ya-share2 {
    text-align: right;
}

h2 {
    font-family: 'Oswald', sans-serif;
    font-size: 27px;
}

h3 {
    font-family: 'Oswald', sans-serif;
}

p {
    font-family: 'Slabo 27px', serif;
    font-size: 16px;
}

#soc {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    margin: 5px 45px;
    -ms-flex-pack: distribute;
    justify-content: space-around;
}

.copy-right {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    font-size: 13px;
}