/*для границ строницы*/

* {
    max-width: 1280px;
    margin: 0 auto;
}

* a {
    text-decoration: none;
}

body {
    background-image: url(home/background.svg);
    background-attachment: fixed;
    background-size: cover;
}


/**/


/*images*/

.rimg {
    margin: 0;
}

.r {
    display: block;
    margin: 0;
}

.iconsoc {
    width: 35px;
    height: 35px;
    border-radius: 50%;
}


/**/

.name {
    text-align: center;
    margin: 10px;
}

#name {
    font-family: 'Marck Script', cursive;
    font-size: 45px;
    color: #007FFF;
    margin: 5px auto;
}

a {
    color: #00A86B;
}

nav > a{
    font-size: 25px;
    font-family: 'Cookie', cursive;
}

nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -ms-flex-pack: distribute;
    justify-content: center;
    padding:0 60px;
}


article {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: column nowrap;
    flex-flow: column nowrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.foto_article {
    margin-top: 5px;
    border: 20px solid;
    -o-border-image: url(home/ramka.png) 20 stretch;
    border-image: url(home/ramka.png) 20 stretch;
}

#aboutme {
    color: #FE6F5E;
    margin-top: 5px;
    font-family: 'Shrikhand', cursive;
}

h2 {
    font-size: 35px;
}

.text {
    max-width: 550px;
    margin: 0 auto;
    text-align: center;
}

* p {
    font-size: 20px;
    font-family: 'Cormorant Infant', serif;
}

#footer {
    display: block;
    text-align: center;
}
