/*для границ строницы*/

* {
    max-width: 1280px;
    margin: 0 auto;
}

* a {
    text-decoration: none;
}

body {
    background-color:#D3D3D3;
    background-attachment: fixed;
    background-size: cover;
}


/**/


/*images*/

.rimg {
    margin: 0;
    height: 20px;
    width: 30px;
}

.iconsoc {
    width: 42px;
    height: 42px;
    border-radius: 50%;
}

.foto_article {
    margin-top: 5px;
    border: 35px solid;
    -o-border-image: url(home/ramka.png) 20 stretch;
    border-image: url(home/ramka.png) 35 stretch;
}


/**/

.head {
   display:flex;
   justify-content:center;
   text-align: center;
   margin: 10px;
}

#head {
   font-family: 'Marck Script', cursive;
   font-size: 50px;
   color: #007FFF;
   margin: 5px auto;
}

a {
    color: #00A86B;
}

nav>a {
    font-family: 'Cookie', cursive;
    font-size: 45px;
}

nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -ms-flex-pack: distribute;
    -webkit-box-pack: center;
    justify-content: center;
    padding: 0 300px;
}

article {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: column nowrap;
    flex-flow: column nowrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

#aboutme {
    color: #FE6F5E;
    margin-top: 5px;
    font-family: 'Shrikhand', cursive;
}

h2 {
    font-size: 35px;
    
}

.text {
    max-width: 650px;
    margin: 0 auto;
    text-align: justify;
}

* p {
    font-size: 20px;
    font-family: 'Cormorant Infant', serif;
    -moz-text-align-last: center;
    text-align-last: center;
}

#soc {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    margin: 5px 45px;
    -ms-flex-pack: distribute;
    justify-content: space-around;
}

.copy-right {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    font-size: 13px;
}