/*для границ строницы*/

* {
    max-width: 450px;
    margin: 0px auto;
}

* a {
    text-decoration: none;
}

body {
    background-color:#D3D3D3;
    background-attachment: fixed;
    background-size: cover;
}


/**/


/*images*/

.iconsoc {
    width: 35px;
    height: 35px;
    border-radius: 50%;
}

/**/

.head {
    text-align: center;
}

#head {
    font-family: 'Marck Script', cursive;
    font-size: 40px;
    color: #007FFF;
}

a {
    color: #00A86B;
}

nav>a {
    font-size: 25px;
    font-family: 'Cookie', cursive;
}

nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -ms-flex-pack: distribute;
    -webkit-box-pack: center;
    justify-content: center;
    padding: 0 60px;
}

#soc {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    margin: 5px 45px;
    -ms-flex-pack: distribute;
    justify-content: space-around;
}

.copy-right {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    font-size: 10px;
}
