/*для границ строницы*/

* {
    max-width: 1280px;
    margin: 0 auto;
}

* a {
    text-decoration: none;
}

body {
    background-color:#D3D3D3;
    background-attachment: fixed;
    background-size: cover;
}


/**/


/*images*/

.rimg {
    margin: 0;
    height: 20px;
    width: 30px;
}

.iconsoc {
    width: 42px;
    height: 42px;
    border-radius: 50%;
}

.icongsm {
    width: 30px;
    height: 30px;
}


/**/

.head {
    text-align: center;
    margin: 10px;
}

#head {
    font-family: 'Marck Script', cursive;
    font-size: 50px;
    color: #007FFF;
    margin: 5px auto;
}

a {
    color: #00A86B;
}

nav>a {
    font-family: 'Cookie', cursive;
    font-size: 45px;
}

nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -ms-flex-pack: distribute;
    -webkit-box-pack: center;
    justify-content: center;
    padding: 0 300px;
}

iframe {
    margin: 7px 0px;
    border-radius: 10%;
    border: 4px;
    width: 750px;
    height: 450px;
}

section {
    text-align: center;
}

.hr {
    width: 500px;
}

#contactme {
    color: Turquoise;
    font-family: 'Shrikhand', cursive;
}

h2 {
    font-size: 35px;
}

label {
    font-size: 20px;
    font-weight: bold;
    color: #444444;
    display: block;
}

fieldset{
    width:500px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

form{
    margin:0 0 7px 0;
}

input {
    border: 3px solid #cfcfcf;
    border-radius: 10px;
    font-size: 14px;
    color: #444444;
    padding: 7px 7px 8px;
    width: 250px;
    margin-bottom: 20px;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
}

input:valid+span:after {
    content: url(iconsoc/ok.png);
    padding-left: 5px;
}

input:invalid+span:after {
    content: url(iconsoc/bd.png);
    padding-left: 5px;
}

input:focus {
    outline: none;
    border: 3px solid #07a6e6;
}


/*
input:valid > input:focus {
    outline: none;
    border: 2px solid green;
}
input:invalid > input:focus {
    outline: none;
    border: 2px solid red;
}
*/

span {
    color: red;
}

.submit {
    border: none;
    border-radius: 0 !important;
    border-color: #07a6e6 !important;
    width: 180px;
    text-align: center;
    background: #07a6e6;
    font-size: 13px;
    font-weight: bold;
    color: #ffffff;
    cursor: pointer;
    height: 35px;
    line-height: 28px;
    padding: 0;
}

.submit:hover {
    background: #009ac2;
}

* p {
    font-size: 20px;
    font-family: 'Cormorant Infant', serif;
}

#soc {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    margin: 5px 45px;
    -ms-flex-pack: distribute;
    justify-content: space-around;
}

.copy-right {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    font-size: 13px;
}

/**/
