/*для границ строницы*/

* {
    max-width: 450px;
    margin: 0px auto;
}

* a {
    text-decoration: none;
}

body {
    background-image: url(home/background.svg);
    background-attachment: fixed;
    background-size: cover;
}


/**/


/*images*/

.iconsoc {
    width: 35px;
    height: 35px;
    border-radius: 50%;
}


/**/

.name {
    text-align: center;
    margin: 10px;
}

#name {
    font-family: 'Marck Script', cursive;
    font-size: 45px;
    color: #007FFF;
    margin: 5px auto;
}

nav>a {
    font-size: 25px;
    font-family: 'Cookie', cursive;
}

nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -ms-flex-pack: distribute;
    -webkit-box-pack: center;
    justify-content: center;
    padding: 0 60px;
}

iframe {
    border-radius: 10%;
    border: 4px;
    width: 300px;
    height: 300px;
}

.hr {
    width: auto;
}