/*для границ строницы*/

* {
    max-width: 1280px;
    margin: 0 auto;
}

* a {
    text-decoration: none;
}

body {
    background-image: url(home/background.svg);
    background-attachment: fixed;
    background-size: cover;
}


/**/


/*images*/

.rimg {
    margin: 0;
}

.r {
    display: block;
    margin: 0;
}

.iconsoc {
    width: 36px;
    height: 36px;
    border-radius: 50%;
}


/**/

.name {
    text-align: center;
    margin: 10px;
}

#name {
    font-family: 'Marck Script', cursive;
    font-size: 50px;
    color: #007FFF;
    margin: 5px auto;
}

a {
    color: #00A86B;
}

nav {
    font-family: 'Cookie', cursive;
}
nav > a{
    font-size: 45px
}
nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    padding: 0 300px;
}

iframe {
    border-radius: 10%;
    border: 4px;
    width:750px;
    height:450px;
}

section {
    text-align: center;
}

#contactme {
    color: Turquoise;
    font-family: 'Shrikhand', cursive;
}

h2 {
    font-size: 35px;
}
label {
    font-size: 20px;
    font-weight: bold;
    color: #444444;
    display: block;
}
#form{
    display:block;
}
input{
    border: 2px solid #cfcfcf;
    font-size: 14px;
    color: #444444;
    padding: 7px 7px 8px;
    width: 250px;
    margin-bottom: 20px;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
}
input:valid + span:after {
    content: url(iconsoc/ok.png);
    padding-left: 5px;
}
input:invalid + span:after {
    content: url(iconsoc/bd.png);
    padding-left: 5px;
}

input:valid :focus {
    outline: none;
    border: 2px solid green;
}
input:invalid :focus {
    outline: none;
    border: 2px solid red;
}
span{
    color:red;
}
.submit{
    border: none;
    border-color:#07a6e6 !important;
    width: 180px;
    text-align: center;
    background: #07a6e6;
    font-size: 13px;
    font-weight: bold;
    color: #ffffff;
    cursor: pointer;
    height: 35px;
    line-height: 28px;
    padding: 0;
}
.submit:hover {
    background: #009ac2;
}
.icongsm {
    width: 32px;
    height: 30px;
}

#iconmtc {
    width: 45px;
    height: 32px;
}

#icong {
    width: 30px;
    height: 20px;
}

* p {
    font-size: 20px;
    font-family: 'Cormorant Infant', serif;
}

#footer {
    display: block;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    text-align: center;
}